<a href="https://colab.research.google.com/github/navneetk2001/Machine-Learning/blob/master/Complex_Boundaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import datasets
boston = datasets.load_boston()

In [ ]:
X = boston.data
Y = boston.target

In [ ]:
X.shape

(506, 13)

In [ ]:
import pandas as pd
df = pd.DataFrame(X)
print(boston.feature_names)
df.columns = boston.feature_names
df["age_age"] = df.AGE ** 2
df.describe()

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

             CRIM          ZN       INDUS  ...           B       LSTAT       age_age
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000    506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   5493.309545
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062   3449.600164
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000      8.410000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   2027.252500
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   6006.290000
75%      3.677083   12.500000   18.100000  ...  396.225000   16.955000   8850.107500
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000  10000.000000

[8 rows x 14 columns]

In [ ]:
x2 = df.values
x2.shape

(506, 14)

In [ ]:
#splitting data into training and testing data using model_selection modules and  train_test_split function
from sklearn import model_selection
X_train, X_test,Y_train,Y_test = model_selection.train_test_split(X,Y, random_state = 0)
X2_train, X2_test,Y2_train,Y2_test = model_selection.train_test_split(x2,Y, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
algorithm1=LinearRegression()
algorithm2=LinearRegression()

In [ ]:
algorithm1.fit(X_train,Y_train)
algorithm2.fit(X2_train,Y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
Y_predicted = algorithm1.predict(X_test)
test1_score = algorithm1.score(X_test, Y_test)
train1_score = algorithm1.score(X_train, Y_train)
print("Train1 Score : ", train1_score)
print("Test1 Score : ", test1_score)

test2_score = algorithm2.score(X2_test, Y2_test)
train2_score = algorithm2.score(X2_train, Y2_train)
print("Train2 Score : ", train2_score)
print("Test2 Score : ", test2_score)

Train1 Score :  0.7697699488741149
Test1 Score :  0.635463843320211
Train2 Score :  0.770724544991109
Test2 Score :  0.6433109272342945